<app-header></app-header>

<div class="container">
  <h1>Guardiões</h1>

  <div class="guardian-div">
    <div style="display: flex;">
      <img class="profile" src="/assets/icon/profile.jpg">
      <span class="bold">Miguel | 9999-9999</span>
    </div>
    <div style="display: flex;">
      <button class="alert-guardian">Alertar</button>
      <button style="background: white;"><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
    </div>
  </div>

  <div class="guardian-div">
    <div style="display: flex;">
      <img class="profile" src="/assets/icon/profile.jpg">
      <span class="bold">Angelo | 9999-9999</span>
    </div>
    <div style="display: flex;">
      <button class="alert-guardian">Alertar</button>
      <button style="background: white;"><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
    </div>
  </div>

  <div class="guardian-div">
    <div style="display: flex;">
      <img class="profile" src="/assets/icon/profile.jpg">
      <span class="bold">Chico | 9999-9999</span>
    </div>
    <div style="display: flex;">
      <button class="alert-guardian">Alertar</button>
      <button style="background: white;"><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
    </div>
  </div>

  <div *ngFor="let guardian of guardians">
    <div class="guardian-div">
      <div style="display: flex;">
        <img class="profile" src="/assets/icon/profile.jpg">
        <span class="bold">{{guardian.name}} | {{guardian.phone}}</span>
      </div>
      <div style="display: flex;">
        <button class="alert-guardian">Alertar</button>
        <button style="background: white;"><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
      </div>
    </div>
  </div>


</div>

<ion-fab>
  <ion-fab-button>
    <ion-icon name="add" (click)="goAddGuardian()"></ion-icon>
  </ion-fab-button>
</ion-fab>

<app-footer></app-footer>
