<app-header></app-header>
<div>
  <h2>Guardiões</h2>
</div>

<div class="guardian-div">
  <img class="profile" src="/assets/icon/profile.jpg">
  <strong>Guardião</strong>
  <button class="alert-guardian">Alertar</button>
  <button><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
</div>
<div class="guardian-div">
  <img class="profile" src="/assets/icon/profile.jpg">
  <strong>Guardião</strong>
  <button class="alert-guardian">Alertar</button>
  <button><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
</div>
<div class="guardian-div">
  <img class="profile" src="/assets/icon/profile.jpg">
  <strong>Guardião</strong>
  <button class="alert-guardian">Alertar</button>
  <button><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
</div>
<div class="guardian-div">
  <img class="profile" src="/assets/icon/profile.jpg">
  <strong>Guardião</strong>
  <button class="alert-guardian">Alertar</button>
  <button><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
</div>
<app-footer></app-footer>
