<app-header></app-header>

<div class="container">
  <h1>Guardiões</h1>

  <div class="guardian-div">
    <div style="display: flex;">
      <img class="profile" src="/assets/icon/profile.jpg">
      <span class="bold">Miguel</span>
    </div>
    <div style="display: flex;">
      <button class="alert-guardian">Alertar</button>
      <button style="background: white;"><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
    </div>
  </div>

  <div class="guardian-div">
    <div style="display: flex;">
      <img class="profile" src="/assets/icon/profile.jpg">
      <span class="bold">Angelo</span>
    </div>
    <div style="display: flex;">
      <button class="alert-guardian">Alertar</button>
      <button style="background: white;"><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
    </div>
  </div>

  <div class="guardian-div">
    <div style="display: flex;">
      <img class="profile" src="/assets/icon/profile.jpg">
      <span class="bold">Chico</span>
    </div>
    <div style="display: flex;">
      <button class="alert-guardian">Alertar</button>
      <button style="background: white;"><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
    </div>
  </div>

  <div class="guardian-div">
    <div style="display: flex;">
      <img class="profile" src="/assets/icon/profile.jpg">
      <span class="bold">Antonio</span>
    </div>
    <div style="display: flex;">
      <button class="alert-guardian">Alertar</button>
      <button style="background: white;"><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
    </div>
  </div>

  <div class="guardian-div">
    <div style="display: flex;">
      <img class="profile" src="/assets/icon/profile.jpg">
      <span class="bold">Maria</span>
    </div>
    <div style="display: flex;">
      <button class="alert-guardian">Alertar</button>
      <button style="background: white;"><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
    </div>
  </div>
  
</div>

<ion-icon class="add-guardian" name="add-circle"></ion-icon>

<app-footer></app-footer>
