.alert-guardian {
    padding: 7px;
    border: 2px solid black;
    margin-right: 16px;
}

.container {
  height: 100vh;
  padding: 16px;
  overflow: auto;
}

.guardian-div {
    width: 100%;
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    padding: 14px;
    margin: 12px 0;
    border-radius: 6px;
}

.profile {
    width: 32px;
    height: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    color: #DD2929;
    font-weight: 600;
    font-size: 28px;
    margin: 10px 0 22px 0;
}

.bold {
    font-weight: 600;
    align-self: center;
    margin-left: 16px;
}

ion-fab {
    top: 80%;
    left: 75%;
    border-radius: 50px;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
}

ion-fab-button {
    --background: #e77b7b;
}