<app-header></app-header>

<div class="container">
	<h1>Informações do Perfil</h1>
	<div class="content">
		<span>Nome: {{userData.name}}</span>
		<span>E-mail: {{userData.email}}</span>
		<span>CPF: {{userData.cpf}}</span>
	</div>
	<div class="content">
		<h1>Segurança</h1>
		<ion-item disable-underline>
			<ion-label position="floating">Senha</ion-label>
			<ion-input class="eye" [readonly]="true" type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="userData.password"></ion-input>
			<ion-icon style="align-self: end;" slot="end" name="{{ showPassword ? 'eye-off' : 'eye' }}" (click)="togglePassword($event)"></ion-icon>
		</ion-item>
    <div class="change-password-box">
      <button (click)="openChangePasswordDialog()" class="change-password">Alterar a Senha</button>
    </div>
	</div>
</div>

<app-footer></app-footer>