.container {
  padding: 16px;
  height: 100%;
  background: linear-gradient(70deg, #e77b7b, #DDA0A0);
}

.content {
  margin-top: 46px;
  height: 90%;
}

.default-btn {
  height: 40px;
    width: 230px;
    font-weight: 600;
    color: white;
    font-size: 16px;
    --background: black;
    border: 1px solid white;
}

.box {
  display: flex;
  padding: 16px 0;
}

.item-box {
  --border-width: 0px;
  --border-style: none;
  border-radius: 16px;
  height: 90%;
}