<app-header></app-header>

<div>
  <h2 class="title">Cadastre um novo guardião</h2>

    <div class="inputs">
      <ion-input 
        type="text"
        fill="solid"
        label="Nome"
        class="custom"
        labelPlacement="floating"
        [(ngModel)]="name">
      </ion-input>

      <ion-input 
        type="number"
        fill="solid"
        label="Telefone"
        class="custom"
        labelPlacement="floating"
        [(ngModel)]="phone">
      </ion-input>
    </div>

    <div class="box-button">
      <button class="add-btn" (click)="addGuardian()">Adicionar</button>
      <button class="add-btn" (click)="backToGuardian()">Voltar</button>
    </div>
</div>


<app-footer></app-footer>
