<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header><ion-icon style="font-size: 44px;" name="person-circle"></ion-icon></ion-list-header>
          <ion-note></ion-note>

          <ion-menu-toggle>
            <ion-item (click)="$event.stopPropagation()" class="menu-bg"> 
              <ion-icon slot="start" [ios]="camuflado.icon + '-outline'" [md]="camuflado.icon + '-sharp'"></ion-icon>
              <ion-label>{{ camuflado.title }}</ion-label>
              <ion-toggle (click)="$event.stopPropagation()"></ion-toggle>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngFor="let p of appPages; let i = index">
            <ion-item class="menu-bg" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-menu-toggle class="exit">
          <button (click)="logout()" class="custom-btn">Sair</button>
        </ion-menu-toggle>
      
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
