<app-header></app-header>


<div class="comment-feed">
  
  <h2 class="feed">Feed de mensagens</h2>

  <div class="comment">
    <div class="user-photo"></div>
    <div class="user">John Doe</div>
    <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="like">
      {{likes}}<button (click)="like()" class="but-like"><img src="/assets/icon/like.png" alt="botão de curtir"></button>
    </div>
  </div>

  <div class="comment">
    <div class="user-photo"></div>
    <div class="user">Jane Smith</div>
    <div class="message">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    <div class="like">
      {{likes}}<button (click)="like()" class="but-like"><img src="/assets/icon/like.png" alt="botão de curtir"></button>
    </div>
  </div>

  <div class="comment">
    <div class="user-photo"></div>
    <div class="user">John Doe</div>
    <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="like">
      {{likes}}<button (click)="like()" class="but-like"><img src="/assets/icon/like.png" alt="botão de curtir"></button>
    </div>
  </div>

  <div class="comment">
    <div class="user-photo"></div>
    <div class="user">Jane Smith</div>
    <div class="message">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    <div class="like">
      {{likes}}<button (click)="like()" class="but-like"><img src="/assets/icon/like.png" alt="botão de curtir"></button>
    </div>
  </div>


</div>
<app-footer></app-footer>