.comment-feed {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0 16px;  
    overflow: auto;
    height: 100%;
  }
  
  .comment {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 2px;
  }

.comment {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}

  .but-like {
    padding: 0 10px;
  }
  
  .user-photo {
    width: 40px;
    height: 40px;
    background-color: #aaa;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }
  
  .user {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }

  .name {
    margin-left: 10px;
    width: 75%;
  }
  
  .message {
    margin-top: 30px;
    font-size: 14px;
  }


.like {
  display: flex;
  justify-content: end;
}

.user-photo {
  width: 40px;
  height: 40px;
  background-color: #aaa;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.user {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  width: 100%;
}

.message {
  margin-top: 30px;
  font-size: 14px;
}

.feed {
  margin-bottom: 24px;
  font-size: 24px;
  color: black;
  font-weight: 600;
  align-self: center;
}

.alert-button {
  display: flex;
  flex-direction: column-reverse;
  height: 75px;
  width: 100px;
  background: white;
  align-items: center;
  background: red;
  border-radius: 20px;
}

.alert-buttons-container {
  align-self: center;
  padding: 8px 16px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.alert {
  background: none;
}

.desc {
  margin: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.alert-icon {
  color: white;
    font-size: 24px;
}

ion-fab {
  top: 80%;
    left: 75%;
    border-radius: 50px;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
}

ion-fab-button {
  --background: #e77b7b;
}


  