<app-header></app-header>

<div class="comment-feed">

  <div class="alert-buttons-container">

    <button class="alert">
      <div class="alert-button">
        <span class="desc">Guardião</span>
        <ion-icon class="alert-icon" name="alert-circle"></ion-icon>
      </div>
    </button>

    <button (click)="openCallPoliceDialog()" class="alert">
      <div class="alert-button">
        <span class="desc">Policia</span>
        <ion-icon class="alert-icon" name="call"></ion-icon>
      </div>
    </button>
  </div>
  
  <h2 class="feed">Feed de mensagens</h2>

  <div class="comment">
    <div class="user">
      <div class="user-photo"></div>
      <div class="name">
        John Doe
      </div>
      <div>
        <button><img src="/assets/icon/dots.png" alt="botão para editar e excluir"></button>
      </div>
    </div>
    <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="like">
      {{likes}}<button (click)="like()" class="but-like"><img src="/assets/icon/like.png" alt="botão de curtir"></button>
    </div>
  </div>

  <ion-fab>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-card *ngFor="let conteudo of conteudos">
    <app-card [conteudo]="conteudo"></app-card>
  </ion-card>

  <ion-button (click)="abrirModal()">Postar Conteúdo</ion-button>
 
</div>
<app-footer></app-footer>
