.footer {
  height: 65px;
  background: linear-gradient(360deg, #e77b7b, #DDA0A0);
  border: 1px solid black;
}

.footer div {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.footer div ion-icon {
  font-size: 34px;
}